
@font-face {
    font-family: din-bold;
    src: url('../fonts/din-bold.otf')
}
@font-face {
    font-family: din-regular;
    src: url('../fonts/din-regular.ttf')
}
@font-face {
    font-family: din-medium;
    src: url('../fonts/din-medium-regular.ttf')
}

// Base
@import "base/vars";
@import "base/base";
@import "base/typography";
@import "base/spacing";
@import "base/inputs";

// Layout
@import "layout/main";
@import "layout/menu";
@import "layout/header-bar";
@import "layout/search-box.scss";
@import "layout/buttons.scss";
@import "layout/modal.scss";
@import "layout/side-modal.scss";

// Pages
@import "pages/users";
@import "pages/login";
@import "pages/table";
@import "pages/profile";
@import "pages/permission";
