.btn {
  min-width: 120px;
  font-family: din-medium;
  padding: 0.58rem 1.5rem 0.5rem 1.5rem;
  font-size: .98em;
  font-family: "d-din";
  letter-spacing: .03em;

  > img {
    width: 20px;
    float: left;
    margin: .097em 10px 0 0;
  }
}

.btn-primary {
  background: $color-primary;
  border-color: $color-primary;
  color: #ffffff;

  &:hover {
    background: lighten($color-primary, 10);
  }
}

.btn-secondary {
  background: $color-secondary;
  border-color: $color-secondary;
  color: #ffffff;

  &:hover {
    background: lighten($color-secondary, 10);
  }
}

.btn-delete, .btn-delete:hover, .btn-delete:active{
  background-color: #ca3d3d; 
  border: none;
}