.header-navbar {
  height: $header-size;
  box-shadow: 2px 1px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 9;

  .img-logo-interna {
    padding-left: 15px;

    & img {
      width: 45px;
    }
  }

  .nav-left {
    margin-left: 15px;
    display: inline-block;

    .search-box {
      margin-right: 30px;
    }

    .header-nav {
      padding-top: 0;
      display: inline-block;

      .visible-toggle {
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        flex-direction: row;
        cursor: pointer;

        > img {
          width: 40px;
          display: inline-block;
          //margin-top: -10px;
          margin-right: 10px;
        }

        .user-info {
          color: #5a646d;
          font-family: din-regular;
          display: inline-block;
          vertical-align: middle;
          margin-top: 10px;

          p {
            display: inline-block;
            margin: 0;
          }

          .caret {
            &::after {
              display: inline-block;
              width: 0;
              height: 0;
              margin-left: 0.255em;
              vertical-align: 0.255em;
              content: "";
              border-top: 0.3em solid;
              border-right: 0.3em solid transparent;
              border-bottom: 0;
              border-left: 0.3em solid transparent;
            }
          }
        }
      }

      .colapsed-menu {
        display: none;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        position: fixed;
        z-index: 99;
        right: 20px;
        top: calc(#{$header-size} - 5px);
        border-radius: 3px;
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
        padding: 15px 15px 5px 15px;
        min-width: 240px;

        .image-container {
          display: inline-block;
          vertical-align: top;

          img {
            width: 43px;
            margin-right: 10px;
            display: inline-block;
          }
        }

        .user-info {
          display: inline-block;
          vertical-align: top;

          p {
            color: $color-default-dark;
            margin: 0;
            font-size: 1em;

            &.email {
              font-size: .8em;
            }
          }
        }

        .logout{
          display: block;
          text-align: right;
          color: $link-color;
          text-decoration: underline;
          padding-top: 5px;
          cursor: pointer;
          font-size: .9em;
        }
      }

      &.active {
        .colapsed-menu {
          display: inline-block;
        }
      }
    }
  }
}