.main-content {
  width: calc(100% - #{$side-bar-width});
  margin-left: $side-bar-width;

  .main {
    background-color: #ebecee;
    overflow: hidden;
    height: auto;
    min-height: calc(100vh - #{$header-size});
    width: 100%;
  }
}