
.main-menu {
    background:#111633;
    border-right:1px solid #e5e5e5;
    position:fixed;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width: $side-bar-width;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}

.main-menu>ul {
    margin:30px 0;
}

.main-menu li {
    position:relative;
    display:block;
    width:90px;
}

.main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#FFFFFF;
    font-family: din-regular;
    font-size: 13px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
}

.main-menu .nav-icon {
    position: relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: din-regular;
    //padding-top: 30px;
    text-align: center;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
}

nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0 0 20px 0;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#0fafa9;
    background-color:#111633;

    & i.search-icon {
        background-image: url("/assets/icon/ic_description_48px-verde-line.png");
    } 
  
    & i.users-icon{
        background-image: url("/assets/icon/ic_people_48px-verde.png");
    } 
   
    & i.permission-icon {
        background-image: url("/assets/icon/ic_vpn_key_48px-verde.png");
    } 
   
    & i.profile-icon {
        background-image: url("/assets/icon/ic_assignment_ind_48px-verde.png");
    } 
}

.icone-menu {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-left :30%;
    width: 35px;
    height: 35px;

    &.search-icon {
        background-image: url("/assets/icon/ic_description_48px-branco-line.png");
    } 
    &.users-icon {
        background-image: url("/assets/icon/ic_people_48px-branco.png");
    } 
    &.permission-icon {
        background-image: url("/assets/icon/ic_vpn_key_48px-branco.png");
    } 
    &.profile-icon {
        background-image: url("/assets/icon/ic_assignment_ind_48px-branco.png");
    } 
    &.arrow-back-icon {
        background-image: url("/assets/icon/ic_arrow_back_48px.png");
        margin-left:70%;
    } 
}

.main-menu ul li p{
    margin:0;
}