.modal-header, .modal-footer{
    display: block;
    text-align: center;
    border:none;
    font-family: din-medium;
    color: #3948a4;
}

.btn-modal-cancel{
    background-color: #FFFFFF;
    border: #3948a4;
    color:#3948a4;
    border-style: solid;
    border-width: 1.4px;
}

.btn-modal-cancel:hover{
    background-color: #FFFFFF;
    border: #3948a4;
    color:#3948a4;
    border-style: solid;
    border-width: 1.4px;
}

.modal-body label{
    font-family: din-regular;
    color: #3948a4;
    font-size: 13px;
}

.modal-body input ,.modal-body textarea{
   border-bottom-color: #e4e4e4;
   resize:none;
}

.modal-footer .btn-primary {
    margin-left: 40px;
}