.search-box {
  align-items: center;
  vertical-align: top;
  display: inline-block;

  .search-toggle {
    font-size: 16px;
    color: lighten($textbox-light-content, 8);
    cursor: pointer;
    position: absolute;
    z-index: 9;
    font-size: 22px;
    margin: 6px 0 0 20px;
  }

  .search-input {
    font-family: $default-fallbacked-font-family;
    background: $textbox-bg;
    font-size: 1rem;
    font-weight: 400;
    min-width: 230px;
    border: 0;
    box-shadow: none;
    height: calc(#{$header-size} - 30px);
    outline: none;
    padding: 0 15px;
    padding-left: calc(50px + .4em);
    border-radius: 5px;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      opacity: 1;
      color: lighten($textbox-light-content, 8);
      padding: 0;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      opacity: 1;
      color: lighten($textbox-light-content, 8);
      padding: 0;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      opacity: 1;
      color: lighten($textbox-light-content, 8);
      padding: 0;
    }

    &:-moz-placeholder { /* Firefox 18- */
      opacity: 1;
      color: lighten($textbox-light-content, 8);
      padding: 0;
    }
  }
}