.side-modal {
  width: 100%;
  max-width: 450px;
  height: calc(100vh - #{$header-size});
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: $header-size;
  z-index: 8;
  background: $side-modal-bg;
  padding: 10px 30px;
  box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.1);
  display: none;

  &.opened {
    display: inline-block;
  }

  .close-modal {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2em;
    cursor: pointer;

    img {
      width: 40px;
    }
  }

  .modal-title {
    font-family: $default-fallbacked-font-family;
    color: $side-modal-title;
    font-size: 2.1em;
    margin: 50px 0 0 0;
  }

  .modal-form {
    padding-top: 30px;

    .material-input {
      padding: 0;

      input,
      select {
        background: $side-modal-bg;
        padding-right: 0;
        padding-left: 0;
        border-bottom: 1px solid rgba(100, 100, 100, .5);
        color: #666;

        &::-webkit-input-placeholder {
          color: #999;
          opacity: 0.5;
        }
      }

      .label-placeholder {
        font-size: 13px;
      }
    }

    .editor {
      margin: 5px 0 20px 0;
      padding: 20px 0 0 0;

      .editor-container {
        box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 0.1);
      }

      .ql-toolbar {
        background: #e5e5e5;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border: none;
      }

      #search-guidance {
        background: #fff;
        min-height: 180px;
        border: none;
      }

      label {
        top: .95em;
      }
    }
  }
}