body {
  width: 100%;
  min-height: 100%;
  background: #ffffff;
}

.container {
  max-width: none;
  width: 100%;
  padding: 0;
  min-height: 100%;
}

.flex {
  display: flex;

  &.flex-center {
    align-items: center;
  }

  &.flex-end {
    justify-content: flex-end;
  }
}

.caret {
  &:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
}