.material-input {
  input {
    margin-bottom: 30px;
    color: #3948a4;

    &:focus + .label-placeholder {
      -webkit-transform: translateY(-1.5em);
      transform: translateY(-1.5em);
      opacity: 1;
    }

    &::-webkit-input-placeholder {
      color: #3948a4;
      opacity: 0.5;
    }

    &:focus::-webkit-input-placeholder {
      color: transparent;
    }

    & + .label-placeholder {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 0;
    }
  }

  input:focus + .label-placeholder,
  .tem-valor + .label-placeholder {
    -webkit-transform: translateY(-1.5em);
    transform: translateY(-1.5em);
    opacity: 1;
  }

  .label-placeholder {
    transition: 0.4s ease all;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    font-size: 11px;
    left: 0;
    top: 0.55em;
    position: absolute;
    color: #3948a4;
    opacity: 0.5;
  }

  select {
    background: transparent;
    border-radius: 0;
    -webkit-border-radius: 0px;

    &:focus {
      background: transparent;
    }
  }
}

.material-input.error input {
  border-bottom-color: red;
  border-bottom-width: 2px;
  margin-bottom: 0px !important;
}

.material-input.valid input {
  border-bottom-color: #0fafa9;
  border-bottom-width: 2px;
}

.material-input.valid label {
  color: #0fafa9;
}

.material-input.error small {
  color: red;
  display: block;
}

.material-input small {
  display: none;
}

.check {
  margin: -5px -10px 7px 0px;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: $color-primary;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $color-primary;
    background: #fff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after
{
    content: '';
    width: 12px;
    height: 12px;
    background: $color-primary;
    position: absolute;
    top: 3px;
    left: 3px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after
{
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after
{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
[type="checkbox"]:disabled:checked + label:before,
[type="checkbox"]:disabled:not(:checked) + label:before
{
    border-color: #ccc;
    background-color: #eee;
}
[type="checkbox"]:disabled:checked + label:after
{
    background: #aaa;
}