/* GRID */

//Margim
.m-0 {
	margin: 0;
}

.m-5 {
	margin: 5px;
}

.m-10 {
	margin: 10px;
}

.m-15 {
	margin: 15px;
}

.m-20 {
	margin: 20px;
}

.m-25 {
    margin: 25px;
}

.m-30 {
	margin: 30px;
}

.m-t {
	margin-top: 0;
}

.m-r {
	margin-right: 0;	
}

.m-b {
	margin-bottom: 0;
}

.m-l {
	margin-left: 0;
}

.m-h {
	margin-left: 0;
	margin-right: 0;
}

.m-v {
	margin-top: 0;
	margin-bottom: 0;	
}

//Padding
.pd-0 {
	padding: 0;
}

.pd-5 {
	padding: 5px;
}

.pd-6 {
	padding: 6px;
}

.pd-10 {
	padding: 10px;
}

.pd-40 {
	margin-top: 40px;
}

.pd-15 {
	padding: 15px;
}

.pd-20 {
	padding: 20px;
}


.pd-13 {
	padding: 13px;
}

.pd-25 {
	padding: 25px;
}

.pd-30 {
	padding: 30px;
}

.pd-t {
	padding-top: 0;
}

.pd-r {
	padding-right: 0;	
}

.pd-b {
	padding-bottom: 0;
}

.pd-l {
	padding-left: 0;
}

.pd-h {
	padding-left: 0;
	padding-right: 0;	
}

.pd-v {
	padding-top: 0;
	padding-bottom: 0;	
}