@font-face {
  font-family: din-bold;
  src: url('../fonts/din-bold.otf');
}

@font-face {
  font-family: din-regular;
  src: url('../fonts/din-regular.ttf');
}

@font-face {
  font-family: din-medium;
  src: url('../fonts/din-medium-regular.ttf');
}


// D-DIN

@font-face {
  font-family: "d-din";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ddin/D-DIN.otf');
}
