/* VARIAVEIS */

$color-text:                              #333333;
$color-neutral:                           #ffffff;
$color-black:                             #000000;
$color-warning:                           #fae800;
$color-warning-light:                     #fffccf;
$color-danger:                            #ed1c24;
$color-success:                           #72bf44;

$color-default:                           #a6a6a6;
$color-default-dark:                      #7f7f7f;
$color-default-darker:                    #333333;
$color-default-light:                     #e5e5e5;
$color-default-lighter:                   #f8f8f8;

$color-primary:                           #3948a4;
$color-primary-dark:                      darken($color-primary, 20);
$color-primary-light:                     lighten($color-primary, 20);
$color-primary-lighter:                   #f1f8ec;

$color-secondary:                        #01b1aa;
$color-secondary-dark:                    darken($color-secondary, 20);
$color-secondary-light:                   lighten($color-secondary, 20);

$color-icon-dark:                        #4c5259;
$color-icon-light:                       #97999e;
$color-icon-lighter:                     #e6e6e6;

$color-card-footer:                      #2b4b5e;
$color-card-footer-border:               #4d6675;

$card-header-height:                      42px;
$card-header-icon-size:                   28px;

$default-font-size:                       16px;
$default-font-family:                     Helvetica, Arial, sans-serif;
$default-fallbacked-font-family:          "d-din", Helvetica, Arial, sans-serif;

//Color
$background-dashboard:                  #f5f6fa; 
$text:                                  #4d5259;
$shadow:                                rgba(0, 0, 0, 0.1);
$shadow-mobile:                         rgba(0, 0, 0, 0.07);
$bg-menu:                               #45515f;
$menu-ativo:                            #46be8a;
$menu-static:                           #cbced1;
$link-color:                            #01b5ae;

$textbox-bg:                            #f9f9f9;
$textbox-light-content:                 #bebebe;

$side-modal-bg:                         #f4f4f4;
$side-modal-title:                      #5acdca;

//Global sizes
$header-size:                            4.6em;
$header-size-mobile:                     3em;
$side-bar-width:                         93px;
$expanded-menu-width:                    265px;