

#login {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  color: #3948a4;
  overflow: hidden;
  font-family: $default-fallbacked-font-family;

  .frmLogin {
    margin-top: 100px;
  }

  #frmLogin a {
    float: right;
    color: #3948a4;
    text-decoration: underline;
  }

  .texto-login {
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .texto-login h1 {
    font-family: 'din-bold';
  }

  .btn-login {
    background: linear-gradient(-33deg, #0fafa9, #3948a4);
    color: #ffffff;
    width: 100%;
    font-family: $default-fallbacked-font-family;
    border: 0;
    height: 50px;
  }

  .banner-login {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    background: url(/assets/images/background/login-1.png);
    background-size: cover;
  }

  .img-logo {
    padding-left: 80px;
    padding-top: 60px;
  }

  .frmlogin-column {
    padding: 10px 80px 10px;
  }

  .img-logo img {
    width: 57px;
  }
}

.no-border {
  border: none;
  box-shadow: none !important;
  border-bottom-style: solid;
  border-bottom-width: 1.15px;
  border-bottom-color: #3948a4;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media only screen and (max-width: 960px) {
}