$block-size: 100%;

.permission {
  .btn-modal-cancel {
    background-color: #ebecee;
  }

  .btn-primary {
    margin-left: 20px;
  }

  .list-group-item {
    border: none;
    font-family: din-regular;
    color: #5a646d;
  }

  .list-group {
    margin-top: 20px;
    width: $block-size;
    box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    overflow-y: auto;
  }

  .search-box {
    width: $block-size;

    .search-toggle {
      color: darken($textbox-light-content, 8);
    }

    .search-input {
      min-width: $block-size;
      background: #dedfe1;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        opacity: 1;
        color: darken($textbox-light-content, 8);
        padding: 0;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        opacity: 1;
        color: darken($textbox-light-content, 8);
        padding: 0;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        opacity: 1;
        color: darken($textbox-light-content, 8);
        padding: 0;
      }

      &:-moz-placeholder { /* Firefox 18- */
        opacity: 1;
        color: darken($textbox-light-content, 8);
        padding: 0;
      }
    }
  }

  .dropdown-menu {
    min-width: $block-size;
    font-family: din-regular;
    color: #5a646d;
  }

  .dropdown {
    padding-bottom: 20px;
  }

  .group-setas {
    padding-top: 10px;
  }

  .row-seta {
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .img-seta {
      width: 70px;
      height: calc(70px * .75);
    }
  }

  #dropdownMenuButton {
    min-width: $block-size;
    color: #3948a4;
    background-color: #ebecee;
    text-align: left;
    padding-left: 0;
  }

  .dropdown-toggle {
    border-color: #a9aaac;

    &::after {
      float: right;
      margin: 8px -15px 0 0;
      border-top: 0.4em solid;
      border-right: 0.4em solid transparent;
      border-bottom: 0;
      border-left: 0.4em solid transparent;
    }
  }
}