.table-modal-profile {
    border-collapse: none;
   // border: solid #ddd 1px;
    border-radius: 6px;
    border-left: 0px;
    border-top: 0px;
    font-size: 18px;
    font-family: $default-fallbacked-font-family;
    color: #5a646d;
  
    tr {
      line-height: 15px;
      min-height: 15px;
      height: 5px;
    }
  
    thead {
          
      background-color: #FFFFFF;
      
      &:first-child > tr:first-child > th {
        border-bottom: 0px;
      }

      & img {
        width: 25px;
        }
    }
  
    tbody {
      tr {
        &:nth-of-type(even) {
          background-color: #ffffff;
        }
  
        &:nth-of-type(odd) {
          background-color: #e4e4e4;
        }
  
        td {
         
          text-align: center;  
          &.first-column{
            text-align: left;
          }

          img {
            width: 30px;
            padding-right: 8px;
          }
        }
      }
    }
  }
  
  .table-modal-profile > :first-child > :first-child > :first-child {
    border-top-left-radius: 6px;
  }
  
  .table-modal-profile > :first-child > :first-child > :last-child {
    border-top-right-radius: 6px;
  }
  
  .table-modal-profile > :last-child > :last-child > :first-child {
    border-bottom-left-radius: 6px;
  }
  
  .table-modal-profile > :last-child > :last-child > :last-child {
    border-bottom-right-radius: 6px;
  }
  
  .table-modal-profile input[type=checkbox] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
  }