.table-users {
  border-collapse: none;
  border: solid #ddd 1px;
  border-radius: 6px;
  border-left: 0px;
  border-top: 0px;
  font-size: 18px;
  margin-left: 20px;
  width: 97.6%;
  font-family: $default-fallbacked-font-family;
  color: #5a646d;

  tr {
    line-height: 15px;
    min-height: 15px;
    height: 5px;
  }

  thead {
    background-color: #111633;
    color: #ffffff;

    &:first-child > tr:first-child > th {
      border-bottom: 0px;
      border-top: solid #ddd 1px;
    }
  }

  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: #ffffff;
      }

      &:nth-of-type(even) {
        background-color: #e4e4e4;
      }

      &[hidden-content] {
        display: table-row;

        &.hidden {
          display: none;
        }

        .second-column {
          padding-left: 25px;
        }
      }

      td {
        &:first {
          text-align: center;
        }

        &.second-column {
          color: #3948a4;

          .caret {
            cursor: pointer;
          }
        }

        img {
          width: 30px;
          padding-right: 8px;
        }
      }
    }
  }

  &.ignore-strips {
    tbody {
      tr {
        &:nth-of-type(odd) {
          background-color: #ffffff;
        }

        &:nth-of-type(even) {
          background-color: #ffffff;
        }
      }
    }
  }

  .odd-row {
    background-color: #e4e4e4 !important;
  }
}

.table-users > :first-child > :first-child > :first-child {
  border-top-left-radius: 6px;
}

.table-users > :first-child > :first-child > :last-child {
  border-top-right-radius: 6px;
}

.table-users > :last-child > :last-child > :first-child {
  border-bottom-left-radius: 6px;
}

.table-users > :last-child > :last-child > :last-child {
  border-bottom-right-radius: 6px;
}

.table-users input[type=checkbox] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}