.breadcrumb {
  background: transparent;
}

.breadcrumb,
.breadcrumb a {
  color: #5a646d;
  font-family: din-regular;
  font-size: 17px;
}

.breadcrumb a:hover {
  color: #0fafa9;
  font-family: din-regular;
}


.breadcrumb-item + .breadcrumb-item::before{
  content: '\f0da';
  display: inline-block;
  font-family: 'fontAwesome';
  padding: 0 10px;
}


.alert-selected-row{
  background-color: #111633;
  font-family: din-medium;
  color: #FFFFFF;
}
