<header class="navbar header-navbar">
    <div class="img-logo-interna">
        <img src="assets/images/icones/logo_ipsos.png" />
    </div>

    <div class="nav-left">
        <div class="search-box">
            <a class="search-toggle" href="javascript:void(0);">
                <i class="fa fa-search"></i>
            </a>

            <input type="text" class="search-input" placeholder="Search">
        </div>

        <div class="header-nav">
            <div class="visible-toggle">
                <img src="/assets/icon/ic_account_circle_48px.png">

                <div class="user-info">
                    <p>Lorem Ipsum</p>
                    <b class="caret"></b>
                </div>
            </div>

            <div class="colapsed-menu">
                <div class="image-container">
                    <img src="/assets/icon/ic_account_circle_48px.png">
                </div>
                <div class="user-info">
                    <p>Lorem Ipsum</p>
                    <p class="email">loremipsum@lipsum.com</p>
                </div>
                <a class="logout" href="/">Sair</a>
            </div>
        </div>
    </div>
</header>

<script>
    $('.header-navbar .header-nav .visible-toggle').click(function() {
        $('.header-navbar .header-nav').toggleClass('active');
    });
</script>