
    <nav class="main-menu">
        <ul>
            <li>
                <a href="#">
                    <p><i class="icone-menu arrow-back-icon"></i></p>
                </a>      
            </li>
            <li>
                <a href="/search.html" data-menu="1">
                    <p><i class="icone-menu search-icon"></i></p>
                    <p><span class="nav-text">
                            Search
                    </span></p>
                </a>      
            </li>
            <li>
                <a href="/users.html"  data-menu="2">
                    <p> <i class="icone-menu users-icon"></i></p>
                    <p><span class="nav-text">
                        User
                    </span></p>
                </a>
            </li>
            <li>
                <a href="/profile.html"  data-menu="3">
                    <p> <i class="icone-menu profile-icon"></i></p>
                    <p><span class="nav-text">
                        Profile
                    </span></p>
                </a>
                
            </li>
            <li>
                <a href="/permission.html"  data-menu="4">
                    <p><i class="icone-menu permission-icon"></i></p>
                    <p><span class="nav-text">
                        Permission
                    </span></p>
                </a>
            </li>
        </ul>
    </nav>